.main-chat
  .group__info
    .group__info__left
      %p.group__info__left__name test
      %p.group__info__left__member Member: test
    .group__info__right
      = link_to edit_group_path(current_user) do
        Edit

  .message__list
    %ul.message__list__upper
      %li.message__list__upper__sender tech
      %li.message__list__upper__date 2019/12/12(thu) 08:30:00
    %p.message__list__text プログラミング
    %ul.message__list__upper
      %li.message__list__upper__sender techexpert
      %li.message__list__upper__date 2019/12/12(thu) 09:00:00
    %p.message__list__text スクール

  .form
    %form.form__box{action: "", method: "post"}
    .block__input
      .block__input__box
        %input.block__input__box__send-field{name: "send-field", type: "text", placeholder: "type a message"}
        %label{class: "block__input__box__image"}
          = icon( 'fag', 'image' )
          %input.lavel{type: "file"}
      = link_to "#", class: "block__input__send-btn" do
        Send